/* No files to import found in ../../abstractions/**\/* */
/* line 1, ../../../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 27, ../../../sass/layouts/home/home.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 44em) {
    /* line 27, ../../../sass/layouts/home/home.layout.scss */
    .l-page {
      width: 44em; } }
  @media (min-width: 70em) {
    /* line 27, ../../../sass/layouts/home/home.layout.scss */
    .l-page {
      width: 960px; } }

/* line 37, ../../../sass/layouts/home/home.layout.scss */
.l-main {
  margin: 10px auto;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  /* line 13, ../../../../../../../../../../lib/gems/2.3.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .l-main:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 44em) {
  /* line 45, ../../../sass/layouts/home/home.layout.scss */
  .l-page,
  .l-main,
  .l-top,
  .l-footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 53, ../../../sass/layouts/home/home.layout.scss */
  .l-region--navigation {
    font-size: 13px;
    margin: 20px auto; }

  /* line 59, ../../../sass/layouts/home/home.layout.scss */
  .l-top .l-main--video {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding: 5px 5px 15px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  /* line 65, ../../../sass/layouts/home/home.layout.scss */
  .l-top .l-main--audio {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 5px 5px 5px 5px;
    min-height: 450px;
    background: #00b300;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

  /* line 76, ../../../sass/layouts/home/home.layout.scss */
  .l-main .l-content {
    width: 74.57627%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 80, ../../../sass/layouts/home/home.layout.scss */
  .l-main .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 85, ../../../sass/layouts/home/home.layout.scss */
  .l-sectional {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin: 10, auto;
    float: left; }
    /* line 89, ../../../sass/layouts/home/home.layout.scss */
    .l-sectional .l-region--sectional-one {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      height: 200px;
      background: #80ff80;
      border: 1px;
      padding: 5px 5px 5px 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    /* line 98, ../../../sass/layouts/home/home.layout.scss */
    .l-sectional .l-region--sectional-two {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 33.89831%;
      clear: none;
      height: 200px;
      background: #80ff80;
      border: 1px;
      padding: 5px 5px 5px 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    /* line 107, ../../../sass/layouts/home/home.layout.scss */
    .l-sectional .l-region--sectional-three {
      width: 32.20339%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      height: 200px;
      background: #80ff80;
      border: 1px;
      padding: 5px 5px 5px 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); } }

/*# sourceMappingURL=home.layout.css.map */
