/* No files to import found in ../../abstractions/**\/* */
/* line 25, ../../../sass/layouts/home/home.layout.scss */
body {
  background: #eaebed; }

@media (min-width: 44em) {
  /* line 29, ../../../sass/layouts/home/home.layout.scss */
  .l-page {
    width: 44em; } }
@media (min-width: 70em) {
  /* line 29, ../../../sass/layouts/home/home.layout.scss */
  .l-page {
    width: 70em; } }

/* line 39, ../../../sass/layouts/home/home.layout.scss */
.l-page {
  margin: 0 auto;
  padding: 10px 20px 0px 20px; }

/* line 44, ../../../sass/layouts/home/home.layout.scss */
.l-main {
  margin: 10px auto;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  /* line 13, ../../../../../../../../../../lib/gems/2.3.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .l-main:after {
    content: "";
    display: table;
    clear: both; }

/* line 51, ../../../sass/layouts/home/home.layout.scss */
.l-branding img {
  width: 100%; }

@media (min-width: 44em) {
  /* line 58, ../../../sass/layouts/home/home.layout.scss */
  .l-main,
  .l-top,
  .l-footer
  .l-footer-gallary {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 66, ../../../sass/layouts/home/home.layout.scss */
  .l-region--navigation {
    font-size: 13px;
    margin: 20px auto; }

  /* line 71, ../../../sass/layouts/home/home.layout.scss */
  .l-box {
    float: left; }

  /* line 74, ../../../sass/layouts/home/home.layout.scss */
  .l-region--footer {
    background: #333;
    height: 100px; }

  /* line 80, ../../../sass/layouts/home/home.layout.scss */
  .l-top {
    margin: 5px 5px 5px 5px; }
    /* line 85, ../../../sass/layouts/home/home.layout.scss */
    .l-top .l-main--video {
      width: 66.10169%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      margin: 5px 5px 5px 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    /* line 91, ../../../sass/layouts/home/home.layout.scss */
    .l-top .l-main--audio {
      width: 32.20339%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      padding: 5px 5px 5px 5px;
      background: #00b300;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      /* line 97, ../../../sass/layouts/home/home.layout.scss */
      .l-top .l-main--audio .block--views-list-of-radio-program-block {
        width: 100%; }

  /* line 105, ../../../sass/layouts/home/home.layout.scss */
  .l-main .l-content {
    width: 74.57627%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding: 5px 5px 5px 5px; }
  /* line 110, ../../../sass/layouts/home/home.layout.scss */
  .l-main .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 5px 5px 5px 5px;
    height: 100%; }

  /* line 118, ../../../sass/layouts/home/home.layout.scss */
  .l-sectional {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin: 15, auto;
    float: left; }
    /* line 122, ../../../sass/layouts/home/home.layout.scss */
    .l-sectional .l-region--sectional-one {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      height: 200px;
      background: #80ff80;
      border: 1px;
      padding: 5px 5px 5px 5px;
      box-shadow: 0 1px 2px 0 transparent, 0 6px 20px 0 rgba(0, 0, 0, 0.05); }
    /* line 131, ../../../sass/layouts/home/home.layout.scss */
    .l-sectional .l-region--sectional-two {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 33.89831%;
      clear: none;
      height: 200px;
      background: #80ff80;
      border: 1px;
      padding: 5px 5px 5px 5px; }
    /* line 140, ../../../sass/layouts/home/home.layout.scss */
    .l-sectional .l-region--sectional-three {
      width: 32.20339%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      height: 200px;
      background: #80ff80;
      border: 1px;
      padding: 5px 5px 5px 5px; }

  /* line 150, ../../../sass/layouts/home/home.layout.scss */
  .l-footer {
    background: #red; }
    /* line 152, ../../../sass/layouts/home/home.layout.scss */
    .l-footer .l-region--footer {
      width: 49.15254%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 156, ../../../sass/layouts/home/home.layout.scss */
    .l-footer .l-region--footer {
      width: 49.15254%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      floot: right; } }

/*# sourceMappingURL=home.layout.css.map */
